h1,h2,h3,h4,h5,h6,h7,.title {
  text-transform: uppercase;
  font-weight: normal;
  font-family: Montserrat, sans-serif;
  display:inline-block;
  margin:0;
  padding:0;
  vertical-align: top;
}
a {
  text-decoration: none;
  color:#F5C52C;
}
a:hover {
  color:#fff;
}
header {
  display:inline-block;
  min-height:100%;
  width:300px;
  white-space: normal;
  vertical-align: top;
  text-align: center;
  background:rgba(0,0,0,0.1);
  position: fixed;
}
header nav ul li a {
  font-family: Montserrat, sans-serif
}
nav {
  padding: 40px;
  padding-bottom:140px;
}
.nav-footer {
  position: absolute;
  bottom: 40px;
  display:block;
  height:80px;
  text-align: center;
  width:100%;
}
.nav-footer .logo {
  background: url('../assets/orval.png') no-repeat;
  background-size: contain;
  margin: 0 auto;
  max-height: 100%;
  opacity: 1;
}
.nav-footer .logo:hover {
  transform: rotate(5deg);
}
nav ul, nav li {
  list-style: none;
  padding:0
}
nav > ul > li {
  text-transform: uppercase;
  font-size:24px;
  padding:4px 0;
  display:block;
}
nav > ul > li > a {
  display: block;
}
nav > ul > li a.active {
  transform: rotate(-2deg);
  color:#fff;
}
nav > ul > li a:hover {
  transform: rotate(-3deg);
  color:#fff;
}

main {
  width: calc(100% - 300px);
  margin-left:300px;
  max-width: 1200px;
  display:inline-block;
  white-space: normal;
  vertical-align: top;
  padding: 20px;
}

img {
  max-width: 100%;
  margin:20px 0;
}
h1 {
  font-size:40px;
  line-height: 32px;
  margin-right:8px;
  margin-bottom:8px;
}

h2 {
  color:#F5C52C;
  margin-bottom:10px;
}
p {
  margin-bottom:10px;
}

/**
* Responsive nav
**/
@media only screen and (max-width: 900px)  {
  header {
    display:block;
    min-height:0%;
    width:100%;
    white-space: normal;
    vertical-align: top;
    text-align: center;
    background:rgba(0,0,0,0.1);
    position: relative;
  }
  nav {
    padding:20px;
  }
  .nav-footer {
    position:absolute;
    max-width: 60px;
    max-height:50px;
    top:0;
  }
  .nav-footer .logo {
    position:absolute;
    top:10px;
    left:10px;
    max-width: 50px;
    max-height:50px;
  }
  main {
    width: 100%;
    margin-left:0px;
    display:block;
  }
}

::selection {
  background: #F5C52C; /* WebKit/Blink Browsers */
  color:black;
}
::-moz-selection {
  background: #F5C52C; /* Gecko Browsers */
  color:black;
}

/**********************************
CLEARFIX
**********************************/
.cf:before,
.cf:after {
  content: " "; /* 1 */
  display: table; /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}

/**********************************
BLOG
**********************************/

.content.blog article {
  padding:20px;
  padding-bottom:30px;
}
ul.inline {
  list-style:none;
  display:inline;
}
ul.inline li {
  display:inline
}
.content.blog .meta {
  display:inline-block;
  vertical-align: top;
  margin-bottom:8px;
}
.content.blog .meta span {
  display: block;
  font-size:16px;
  line-height: 16px;
  vertical-align: top;
}

.title-meta-wrap {
  display:block;
  margin-bottom: 8px;
}
.meta .categories ul > li a:after {
  content: ", ";
  color: white;
}
.meta .categories ul > li:last-child a:after {
  content: " ";
}
/**********************************
WORK
**********************************/

.content.work article {
  padding:20px;
  margin-bottom:30px;
  max-width: calc(100% / 2);
  background: rgba(0,0,0,0.1);
  display:inline-block;
  vertical-align: top;
  min-height:350px;
}
work .head {
  height:200px;
  overflow: hidden;
  width: 100%;
  margin-bottom:20px;

}
work .head img {
  width:100%;
  margin:0;
  opacity: 0.5;
}
work .head:hover img {
  opacity: 1;
}
work .head:hover h1 {
  color:#F5C52C;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 1);
}
work .head h1 {
  position: absolute;
  height:200px;
  line-height: 200px;
  padding: 0 20px;
  font-size: 25px;
}
@media only screen and (max-width:1000px)  {
  work .head h1 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 800px)  {
  .content.work article {
    padding-bottom:30px;
    max-width: calc(100% / 2);
  }
}
@media only screen and (max-width: 600px)  {
  .content.work article {
    padding-bottom:30px;
    max-width: calc(100%);
  }
}

/**********************************
ABOUT
**********************************/
about, contact {
  padding:20px;
  display:block;
}
